/*
* Unités de mesure par défaut basées sur la largeur du viewport
* (Mobile first)
*/
:root{
    --cellSize: 22vw;
    --baseFontSize: 5vw;
}

/*
* Unités de mesure basées sur la hauteur en mode paysage
*/
@media(orientation:landscape){
    :root{
        --cellSize:22vh;
        --baseFontSize:5vh;
    }
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height:100vh;
    background:rgb(255, 0, 0);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: calc(var(--baseFontSize) * 2.2);
    margin-bottom:5vh;
}

td{
    width:var(--cellSize);
    height:var(--cellSize);
    border:5px solid black;
    border-radius:20%;
    background:white;
    background-size:contain;
}

body.X td{
    cursor: url("cross.svg"),crosshair;
}

body.O td{
    cursor: url("circle.svg"),pointer;
}

td.X{
    background-image:url("cross.svg");    
}

td.O{
    background-image:url("circle.svg");    
}

#gameOver{
    box-sizing: border-box;
    width:50%;
    height: 30vh;
    position:fixed;
    bottom:-30vh;
    border: 5px solid black;
    border-radius: 20px;
    transition: 2s;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    font-size:calc(var(--baseFontSize) * 2);
    background-color:white;
    box-shadow: 5px 5px 10px #0009;
}

#gameOver.show{
    bottom:35vh;
}

button{
    font-size:var(--baseFontSize);
    border-radius:2vh;
    padding:5px 3vw;
    background: darkgreen;
    color:white;
    border: 3px solid black;
    cursor: pointer;
}

footer{
    margin-top:5vh;
    font-size:calc(var(--baseFontSize) * .75);
}