*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height:100vh;
    background:gray;
}

h1{
    font-size: 12vh;
    margin-bottom:5vh;
}

td{
    width:20vh;
    height:20vh;
    border:5px solid black;
    border-radius:20px;
    background:white;
    background-size:contain;
}

body.X td{
    cursor: url("cross.png"),crosshair;
}

body.O td{
    cursor: url("circle.png"),pointer;
}

td.X{
    background-image:url("cross.png");    
}

td.O{
    background-image:url("circle.png");    
}

#gameOver{
    box-sizing: border-box;
    width:50%;
    height: 30vh;
    position:fixed;
    bottom:-30vh;
    border: 5px solid black;
    border-radius: 20px;
    transition: 2s;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    font-size:10vh;
    background-color:white;
    box-shadow: 5px 5px 10px #0009;
}

#gameOver.show{
    bottom:35vh;
}

button{
    font-size:5vh;
    border-radius:15px;
    padding:5px 30px;
    background: darkgreen;
    color:white;
    border: 3px solid black;
}

footer{
    margin-top:5vh;
}